/* =============
    Heroes
============= */

.heroes{
    height: 60vh;
    background-position: center;
    background-size: cover;

    @include xl{
        height: 80vh;
    }
}

#hero{
    background-image: url("../img/hero/hero.jpg");
    margin-top: 100px;

    @include md{
        margin-top: 120px;
    }

    @include lg{
        margin-top: 150px;
    }

    @include xl{
        margin-top: 160px;
    }
}

#hero-2{
    background-image: url("../img/hero-2/hero.jpg");
    background-position: 70% center;
}