.heroes{
    height: 60vh;
    background-position: center;
    background-size: cover;

    @include xl{
        height: 80vh;
    }
}

#hero{
    background-image: url("../img/hero/hero.jpg");
}

#hero-2{
    background-image: url("../img/hero-2/hero.jpg");
    background-position: 70% center;
}