/* =============
    Light - Dark - Mode
============= */
#light-dark{
	>div {
		display: grid;
		height: 100vh;
		place-items: center;
		#content-container {
			#intro {
				h1 {
					font-size: rem-calc(50);
					font-weight: 300;
					margin-bottom: 20px;
					color: var(--text-color);
							
				}

				article{
					h1{
						color: var(--text-color);
					}
				}
			}
			#search {
				form {
					div {
						display: flex;
						input {
							border: 1px solid var(--search-btn-color);
							padding: 20px 10px;
							width: 100%;
						}
						button {
							background-color: var(--search-btn-color);
							border: none;
							color: var(--white);
							font-weight: 600;
							padding: 10px 20px;
						}

					}
				}
			}
			#toggle {
				margin-top: 50px;
				button {
					background-color: var(--toggle-btn-color);
					border: none;
					color: var(--white);
					font-weight: 600;
					padding: 20px;
				}
			}
		}
	}
}