/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    padding: 8px 0;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background-color: var(--white);

    @include md{
        position: static;
        padding: 24px 0 8px;
        position: sticky;
        top: -70px;
    }

    @include lg{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: header;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "burger logo guide"
        "nav nav nav";
        

        @include md{
            grid-template-areas: 
            ". logo ."
            "nav nav guide";
            align-items: baseline;
        }

        #logo-container{
            grid-area: logo;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #burger-container{
            grid-area: burger;
            display: flex;
            align-items: center;

            button{
                background-color: transparent;
                color: var(--black);
                border: none;
                padding: 0;
                margin: 0;
                font-size: rem-calc(20);
            }
        }

        #nav-container{
            grid-area: nav;
            background-color: var(--charcoal);
            padding: 24px 0;
            margin-top: 8px;
            @include md{
                background-color: var(--white);
               
            }
        }

        #guide-container{
            grid-area: guide;
            display: flex;
            justify-content: flex-end;
            height: 100%;

            @include md{
                align-items: center;
            }

            #guide-book-btn{
                background-color: var(--yellow);
                color: var(--black);
                height: 50px;
                width: 50px;
                border-radius: 100%;
                border: none;
                padding: 0;
                margin: 0;
                font-size: rem-calc(20);
                transition: 0.25s;

                &:hover{
                    background-color: var(--black);
                color: var(--white);
                }
            }

            #guide-text-btn{
                display: block;
                background-color: var(--yellow);
                border-radius: 23px;
                padding: 12px 20px;
                color: var(--black);
                font-size: rem-calc(18);
                font-weight: 600;
                transition: 0.25s;

                &:hover{
                    background-color: var(--black);
                    color: var(--white);
                }
            }
        }
    }
}