/* =============
    Buttons
============= */
button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	padding: 0px;
	margin: 0px;
}

.btn-toggle{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 24px;
  right: 24px;
  color: var(--charcoal);
  background-color: var(--yellow);
}


#burger-btn {
    width: 40px;
    height: 30px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #burger-btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--black);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

#burger-btn span:nth-child(1) {
    top: 0px;
  }
  
  #burger-btn span:nth-child(2),#burger-btn span:nth-child(3) {
    top: 11px;
  }
  
  #burger-btn span:nth-child(4) {
    top: 22px;
  }
  
  #burger-btn.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  
  #burger-btn.open span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  #burger-btn.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
  
  #burger-btn.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }