/* =============
    Base
============= */
html{
    scroll-behavior: smooth;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

.content-spacing{
    margin-top: 60px;

    @include md{
        margin-top: 54px;
    }

    @include xl{
        margin-top: 96px;
    }
}

.hide-md{
    @include md{
        display: none !important;
    }
}

.show-md{
    display: none !important;
    @include md{
        display: block !important;
    }
}

.show-xl{
    display: none !important;
    @include xl{
        display: block !important;
    }
}
