/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// History section of content
$screen-history-min: 800px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1440px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --charcoal: #222222;
  --yellow: #F8C832;
}

[data-dark-mode] {
  --white: #222222;
  --charcoal: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #000000;
    --white: #222222;
    --charcoal: #ffffff;
    --yellow: #F8C832;
  }

  .btn-toggle {
    display: none;
  }
}